In [1]:
import twstock
import requests
import pandas as pd

In [13]:
import time

In [45]:
stock = twstock.realtime.get('2330')
stock
# 'success': True 表示下載到的是及時資料

{'timestamp': 1698820200.0,
 'info': {'code': '2330',
  'channel': '2330.tw',
  'name': '台積電',
  'fullname': '台灣積體電路製造股份有限公司',
  'time': '2023-11-01 14:30:00'},
 'realtime': {'latest_trade_price': '528.0000',
  'trade_volume': '3388',
  'accumulate_trade_volume': '13578',
  'best_bid_price': ['528.0000',
   '527.0000',
   '526.0000',
   '525.0000',
   '524.0000'],
  'best_bid_volume': ['1116', '1003', '578', '883', '433'],
  'best_ask_price': ['529.0000',
   '530.0000',
   '531.0000',
   '532.0000',
   '533.0000'],
  'best_ask_volume': ['43', '16', '98', '867', '1179'],
  'open': '533.0000',
  'high': '533.0000',
  'low': '527.0000'},
 'success': True}

In [46]:
stock = pd.DataFrame(stock)
stock

,timestamp,info,realtime,success
code,1.698820e+09,2330,NaN,True
channel,1.698820e+09,2330.tw,NaN,True
name,1.698820e+09,台積電,NaN,True
fullname,1.698820e+09,台灣積體電路製造股份有限公司,NaN,True
time,1.698820e+09,2023-11-01 14:30:00,NaN,True
latest_trade_price,1.698820e+09,NaN,528.0000,True
trade_volume,1.698820e+09,NaN,3388,True
accumulate_trade_volume,1.698820e+09,NaN,13578,True
best_bid_price,1.698820e+09,NaN,"[528.0000, 527.0000, 526.0000, 525.0000, 524.0...",True
best_bid_volume,1.698820e+09,NaN,"[1116, 1003, 578, 883, 433]",True
best_ask_price,1.698820e+09,NaN,"[529.0000, 530.0000, 531.0000, 532.0000, 533.0...",True
best_ask_volume,1.698820e+09,NaN,"[43, 16, 98, 867, 1179]",True
open,1.698820e+09,NaN,533.0000,True
high,1.698820e+09,NaN,533.0000,True
low,1.698820e+09,NaN,527.0000,True

In [16]:
stock_info = stock.iloc[0:5,1]
stock_info

code                       2330
channel                 2330.tw
name                        台積電
fullname         台灣積體電路製造股份有限公司
time        2023-11-01 13:04:10
Name: info, dtype: object

In [47]:
stock_realtime = stock.iloc[5:,2]
stock_realtime

latest_trade_price                                                  528.0000
trade_volume                                                            3388
accumulate_trade_volume                                                13578
best_bid_price             [528.0000, 527.0000, 526.0000, 525.0000, 524.0...
best_bid_volume                                  [1116, 1003, 578, 883, 433]
best_ask_price             [529.0000, 530.0000, 531.0000, 532.0000, 533.0...
best_ask_volume                                      [43, 16, 98, 867, 1179]
open                                                                533.0000
high                                                                533.0000
low                                                                 527.0000
Name: realtime, dtype: object

In [49]:
stock['info']['time']

'2023-11-01 14:30:00'

In [50]:
a= pd.DataFrame(stock_realtime).T
a.index = [pd.to_datetime(stock['info']['time'],format='%Y-%m-%d %H:%M:%S')]
a

,latest_trade_price,trade_volume,accumulate_trade_volume,best_bid_price,best_bid_volume,best_ask_price,best_ask_volume,open,high,low
2023-11-01 14:30:00,528.0000,3388,13578,"[528.0000, 527.0000, 526.0000, 525.0000, 524.0...","[1116, 1003, 578, 883, 433]","[529.0000, 530.0000, 531.0000, 532.0000, 533.0...","[43, 16, 98, 867, 1179]",533.0000,533.0000,527.0000

In [18]:
stock_data = stock_info.append(stock_realtime,ignore_index=True)
stock_data

0                                                  2330
1                                               2330.tw
2                                                   台積電
3                                        台灣積體電路製造股份有限公司
4                                   2023-11-01 13:04:10
5                                                     -
6                                                     -
7                                                  8961
8     [530.0000, 529.0000, 528.0000, 527.0000, 526.0...
9                             [347, 345, 464, 569, 533]
10    [531.0000, 532.0000, 533.0000, 534.0000, 535.0...
11                            [213, 321, 926, 983, 908]
12                                             533.0000
13                                             533.0000
14                                             527.0000
dtype: object

In [19]:
stock['data'] = list(stock_data)
stock

,timestamp,info,realtime,success,data
code,1.698815e+09,2330,NaN,True,2330
channel,1.698815e+09,2330.tw,NaN,True,2330.tw
name,1.698815e+09,台積電,NaN,True,台積電
fullname,1.698815e+09,台灣積體電路製造股份有限公司,NaN,True,台灣積體電路製造股份有限公司
time,1.698815e+09,2023-11-01 13:04:10,NaN,True,2023-11-01 13:04:10
latest_trade_price,1.698815e+09,NaN,-,True,-
trade_volume,1.698815e+09,NaN,-,True,-
accumulate_trade_volume,1.698815e+09,NaN,8961,True,8961
best_bid_price,1.698815e+09,NaN,"[530.0000, 529.0000, 528.0000, 527.0000, 526.0...",True,"[530.0000, 529.0000, 528.0000, 527.0000, 526.0..."
best_bid_volume,1.698815e+09,NaN,"[347, 345, 464, 569, 533]",True,"[347, 345, 464, 569, 533]"
best_ask_price,1.698815e+09,NaN,"[531.0000, 532.0000, 533.0000, 534.0000, 535.0...",True,"[531.0000, 532.0000, 533.0000, 534.0000, 535.0..."
best_ask_volume,1.698815e+09,NaN,"[213, 321, 926, 983, 908]",True,"[213, 321, 926, 983, 908]"
open,1.698815e+09,NaN,533.0000,True,533.0000
high,1.698815e+09,NaN,533.0000,True,533.0000
low,1.698815e+09,NaN,527.0000,True,527.0000

In [20]:
stock = stock.drop(['timestamp','info','realtime','success'],axis=1)
stock

                                                                      data
code                                                                  2330
channel                                                            2330.tw
name                                                                   台積電
fullname                                                    台灣積體電路製造股份有限公司
time                                                   2023-11-01 13:04:10
latest_trade_price                                                       -
trade_volume                                                             -
accumulate_trade_volume                                               8961
best_bid_price           [530.0000, 529.0000, 528.0000, 527.0000, 526.0...
best_bid_volume                                  [347, 345, 464, 569, 533]
best_ask_price           [531.0000, 532.0000, 533.0000, 534.0000, 535.0...
best_ask_volume                                  [213, 321, 926, 983, 908]
open                                                              533.0000
high                                                              533.0000
low                                                               527.0000

In [21]:
stock = stock.T
stock

,code,channel,name,fullname,time,latest_trade_price,trade_volume,accumulate_trade_volume,best_bid_price,best_bid_volume,best_ask_price,best_ask_volume,open,high,low
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2023-11-01 13:04:10,-,-,8961,"[530.0000, 529.0000, 528.0000, 527.0000, 526.0...","[347, 345, 464, 569, 533]","[531.0000, 532.0000, 533.0000, 534.0000, 535.0...","[213, 321, 926, 983, 908]",533.0000,533.0000,527.0000

In [ ]:
# ['股票代碼','股票代碼全','股票名稱','公司名','下載時間','最新成交價','成交量','累積成交量','最佳5檔賣出價','最佳5檔賣出量','最佳5檔買進價','最佳5檔買進量','開盤價','最高價','最低價']

In [53]:
stocks = twstock.realtime.get(['1342','2886','0050'])
stocks

{'2886': {'timestamp': 1698820200.0,
  'info': {'code': '2886',
   'channel': '2886.tw',
   'name': '兆豐金',
   'fullname': '兆豐金融控股股份有限公司',
   'time': '2023-11-01 14:30:00'},
  'realtime': {'latest_trade_price': '36.6500',
   'trade_volume': '1186',
   'accumulate_trade_volume': '11680',
   'best_bid_price': ['36.6000', '36.5500', '36.5000', '36.4500', '36.4000'],
   'best_bid_volume': ['246', '161', '334', '257', '292'],
   'best_ask_price': ['36.6500', '36.7000', '36.7500', '36.8000', '36.8500'],
   'best_ask_volume': ['94', '101', '35', '205', '113'],
   'open': '36.9000',
   'high': '36.9000',
   'low': '36.3500'},
  'success': True},
 '0050': {'timestamp': 1698820200.0,
  'info': {'code': '0050',
   'channel': '0050.tw',
   'name': '元大台灣50',
   'fullname': '元大台灣卓越50證券投資信託基金',
   'time': '2023-11-01 14:30:00'},
  'realtime': {'latest_trade_price': '121.7500',
   'trade_volume': '97',
   'accumulate_trade_volume': '4278',
   'best_bid_price': ['121.7500',
    '121.7000',
    '121.6500',
    '121.6000',
    '121.5500'],
   'best_bid_volume': ['67', '70', '33', '88', '24'],
   'best_ask_price': ['121.8000',
    '121.8500',
    '121.9000',
    '121.9500',
    '122.0000'],
   'best_ask_volume': ['43', '13', '32', '3', '123'],
   'open': '122.0000',
   'high': '122.1500',
   'low': '121.2500'},
  'success': True},
 'success': True}

In [28]:
import numpy as np

In [29]:
l = [1,2,3,4,5,6,7,8]

l = np.array(l)

In [30]:
l

array([1, 2, 3, 4, 5, 6, 7, 8])

In [31]:
l.shape

(8,)

In [34]:
l = l.reshape((2,4))

In [35]:
l

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [38]:
l.tolist()

[[1, 2, 3, 4], [5, 6, 7, 8]]